body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-size: 25px;
}

.name {
  margin: 10px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email {
  margin: 10px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.phone {
  margin: 10px;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dob {
  margin: 10px;
  width: 100%;
  max-width: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ssn {
  margin: 10px;
  width: 100%;
  max-width: 100px;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 20px;
  background-color: #ff1900d5;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;

}


/* Media Query for Desktop */
@media screen and (min-width: 768px) {
  .sign-in-form .top-row label,
  .sign-in-form .bottom-row label,
  .sign-in-form .top-row input,
  .sign-in-form .bottom-row input {
    width: calc(50% - 10px);
  }
}


  
